* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #151d30;
  color: white;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header>*{
  border: 2px solid #242a38;
  width: 20%;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px black;

}
*>h3{
  border-bottom: 2px solid #242a38;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 7px;
  row-gap: 3px;
  width: 600px;
  margin: 20px auto;
}

.none {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
  box-shadow: 1px 1px 5px 5px black;
}

.bomb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
  box-shadow: 1px 1px 5px 5px black;
}

.none:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}
.bomb:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}
.none-disply{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-image: url("/image.png");
  background-size: cover;
}
.bomb-disply{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-image: url("/bomb.png");
  background-size: cover;
}