* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #151d30;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header>* {
  border: 2px solid #242a38;
  width: 20%;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px black;

}

*>h3 {
  border-bottom: 2px solid #242a38;

}

.grid {
  display: grid;
  column-gap: 7px;
  row-gap: 3px;
  width: 600px;
  margin: 20px auto;
}

.none {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
  box-shadow: 1px 1px 5px 5px black;
}

.bomb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
  box-shadow: 1px 1px 5px 5px black;
}

.none:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}

.bomb:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}

.none-disply {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-image: url("/image.png");
  background-size: cover;
}

.bomb-disply {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-image: url("/bomb.png");
  background-size: cover;
}

.restart {
  width: 15rem;
  height: 3rem;
  background-color: green;
  border-radius: 15px;
  border: 3px solid gray;
  font-weight: bold;
  font-size: 20px;
}

.restart:hover {
  background-color: greenyellow;
  color: black;
  transform: scale(1.1);
}

.restart:active {
  background-color: black;
  color: white;
}
.feedbek-none{
  display: none;
}
.feedbek-box {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  pointer-events: none;
  z-index: 1000;
}
.loss{
  background: #3d1010b6;
  border: 3px solid rgb(250, 3, 3);
  border-radius: 12px;
  padding: 20px 40px;
  font-size: 70px;
  font-weight: bold;
  color: rgb(196, 31, 31);
  pointer-events: auto; 
}
.win{
  background: #1d3d10b6;
  border: 3px solid rgb(135, 250, 3);
  border-radius: 12px;
  padding: 20px 40px;
  font-size: 70px;
  font-weight: bold;
  color: rgb(83, 196, 31);
  pointer-events: auto; 
}
.danger{
  color: red;
  animation: flickering 1s linear infinite;
  border: 2px solid red;
  padding: 0 10px;
  border-radius: 15px;
}
@keyframes flickering{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(1.2);
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}