* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #151d30;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 7px;
  row-gap: 3px;
  width: 600px;
  margin: 20px auto;
}

.none {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
}

.bomb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border: 2px solid #435168;
  background-color: #26344c;
}

.none:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}
.bomb:hover {
  background-color: #344563;
  transform: translateY(-1px);
  border-radius: 10px;
  border: 2px solid green;
}